.loadingContainer {
    font-size: 48px;
    height: calc(100vh - 40px);
    color: white;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.coinDataLoading,
.priceDataLoading {
    font-size: 36px;
    height: calc(100vh - 40px);
    color: white;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.coinData,
.chartData {
    height: calc(100vh - 40px);
}

.coinData {
    width: 30vw;
    border-right: 1px solid grey;
    overflow: auto;
}

.chartData {
    width: calc(70vw - 40px);
    margin: auto;
}

.coinName,
.coinInfo,
.coinRank,
.coinPrice,
.coinCap {
    color: white;
}

.coinName {
    font-weight: 900;
    font-size: 32px;
}

.coinInfo {
    text-align: left;
}

.chart-buttons {
    gap: 1vw;
}

.time-button,
.active-time-button {
    color: white;
    background-color: rgb(20, 22, 25);
    width: 16vw;
    border: 1px solid orange;
    border-radius: 10px;
    transition: 0.5s all;
}
.time-button:hover {
    background-color: rgba(255, 166, 0, 0.1);
}

.active-time-button {
    color: black;
    background-color: orange;
}
